.complaint-sec {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem 2.3rem 1.5rem;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 3px 3px 10px #8f8f8f;
}

.complaint-sec:active {
  transform: scale(0.98);
}

.complaint-sec-div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.complaint-sec-img-div {
  min-width: 64px;
  min-height: 64px;
}

.complaint-sec p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  margin-top: 0.5rem;
}

.complaint-status {
  margin-left: auto;
  color: #0073e6;
}

.complaint-date {
  /* display: block; */
  margin-left: auto;
  font-weight: bold;
  margin-top: 1rem;
}
