.resetPassword1-main {
  padding-block: 1rem;
}

.resetPassword1-first-sec {
  text-align: center;
  margin-top: 2rem;
}
.resetPassword1-first-sec p {
  margin: 1rem 0;
}

.resetPassword1-first-sec input {
  width: 80%;
  padding: 0.75rem 3rem 0.75rem 0.75rem;
  margin: 0.6rem 0;
  border: 2px solid #008080;
  border-radius: 24px;
  margin-top: 3rem;
}

.resetPassword1-btn {
  padding: 1rem 2rem;
  border-radius: 24px;
  border: 0;
  background-color: #ff5722;
  color: #ffffff;
  font-weight: 700;
  margin-top: 0.5rem;
  width: 50%;
}

.resetPassword1-last-div {
  text-align: center;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.resetPassword1-last-div h5 {
  font-weight: bold;
  color: #000;
}

.resetPassword1-last-div a {
  text-decoration: none;
  color: #008080;
  font-weight: bold;
}
